# values-secrets.yaml.example
# Copy this file to values-secrets.yaml and fill with real passwords

grafana:
  adminPassword: "CHANGE_ME"

postgres:
  auth:
    password: "CHANGE_ME"

redis:
  auth:
    password: "CHANGE_ME"
