global:
  nameOverride: ""
  fullnameOverride: ""

imagePullSecrets: []

backend:
  image:
    repository: "ghcr.io/mvulcu/guestbook-backend"
    tag: "latest"
    pullPolicy: Always
  replicaCount: 2
  service:
    port: 8080
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  env:
    dbHost: "postgres"
    dbPort: "5432"
    dbUser: "guestbook"
    dbName: "guestbook"
    redisHost: "redis"
    redisPort: "6379"

frontend:
  image:
    repository: "ghcr.io/mvulcu/guestbook-frontend"
    tag: "latest"
    pullPolicy: Always
  replicaCount: 2
  service:
    port: 8080
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi
  route:
    enabled: true
    host: ""

postgres:
  image:
    repository: "quay.io/fedora/postgresql-16"
    tag: "latest"
  storage:
    size: 1Gi
    storageClassName: ""
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  auth:
    username: "guestbook"
    database: "guestbook"
    password: "CHANGE_ME_POSTGRES"

redis:
  image:
    repository: "quay.io/kurs/redis"
    tag: "latest"
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  auth:
    password: "CHANGE_ME_REDIS"

hpa:
  enabled: true
  backend:
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70

monitoring:
  enabled: true
  interval: 30s

prometheus:
  enabled: true
  image:
    repository: "quay.io/prometheus/prometheus"
    tag: "v2.48.0"
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  storage:
    size: 2Gi
    storageClassName: ""
  retention: 7d

grafana:
  enabled: true
  image:
    repository: "grafana/grafana"
    tag: "10.2.3"
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 256Mi
  adminUser: "admin"
  adminPassword: ""
  route:
    enabled: true
    host: ""

networkPolicy:
  enabled: true

pdb:
  enabled: false
