{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/part-of: guestbook
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.monitoring.interval }}
      evaluation_interval: {{ .Values.monitoring.interval }}

    scrape_configs:
      - job_name: 'backend'
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names:
                - {{ .Release.Namespace }}
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_label_app_kubernetes_io_name]
            action: keep
            regex: backend
          - source_labels: [__meta_kubernetes_endpoint_port_name]
            action: keep
            regex: http
          - source_labels: [__meta_kubernetes_namespace]
            target_label: kubernetes_namespace
          - source_labels: [__meta_kubernetes_service_name]
            target_label: kubernetes_service
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: kubernetes_pod
        metrics_path: /metrics

      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
{{- end }}
