{{- if .Values.monitoring.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: backend-servicemonitor
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/part-of: guestbook
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: backend
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  endpoints:
    - port: http
      path: /health
      interval: {{.Values.monitoring.interval}}
{{- end }}
